@use "../../styles/abstracts/" as *;

.container {
  display: grid;
  gap: getMargin(800);

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
