@use "../../styles/abstracts/" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: auto;

  .item {
    width: 27px;
    height: 4px;
    background-color: getColor("nt-9");
  }

  @include md {
    display: none;
  }
}
