@use "../../styles/abstracts/" as *;

.header {
  background-color: getColor("nt-1");

  .container {
    display: flex;
    align-items: center;
    padding: getPadding(1000) 0;
  }

  .navigation {
    ul {
      display: none;
    }
  }

  @include md {
    .navigation {
      ul {
        display: flex;
      }
    }
  }
}
