@use "../../styles/abstracts/" as *;

.container {
  width: 100vw;
  position: absolute;
  overflow: hidden;
  transition: width 0.3s ease-in-out;

  &.hide {
    width: 0;
  }

  .sidebar {
    width: 100vw;
    height: calc(100vh - 2 * getPadding(1000) - 30px);
    padding: getPadding(1000) getPadding(800);
    position: relative;
    background-color: getColor("nt-10");
    z-index: 1;

    ul {
      display: flex;
      flex-direction: column;
      gap: getMargin(400);

      li a {
        font-weight: 500;
        color: getColor("nt-1");

        &:hover {
          color: getColor("sp-ble-6");
        }
      }
    }
  }

  @include md {
    display: none;
  }
}
