@use "../../styles/abstracts/" as *;

.breadcrumbs {
  padding-bottom: getPadding(1200);

  span,
  span a {
    @include text(600);
    text-transform: capitalize;
    font-weight: 500;
    color: getColor("nt-3");
  }
}
