@use "../../styles/abstracts/" as *;

.post {
  & > span:first-of-type {
    display: block;
    margin-bottom: getMargin(800);
    border-radius: 5px;

    img {
      margin-bottom: getMargin(800);
    }
  }

  & > h1:first-of-type {
    margin: getMargin(1200) 0;
  }
}
