@use "../../styles/abstracts/" as *;

.container {
  @include formContainer;

  label {
    @include formLabel;
  }

  input,
  textarea {
    @include formInput;
  }

  input {
    margin-bottom: getMargin(800);
  }

  textarea {
    min-height: 7rem;
    max-height: 20rem;
    resize: vertical;
  }

  .badge {
    margin-top: getMargin(600);
  }

  button {
    @include formBtn;
    padding-left: getPadding(1200);
    padding-right: getPadding(1200);
  }
}
